###
### File managed by Puppet
###

[Unit]
  Description=<%= @description %>
  Requires=network-online.target
  After=network-online.service

[Mount]
  What=<%= @server %>:<%= @export %>
  Where=<%= @where %>
  Options=<%= @options %>
  Type=<%= @type %>

[Install]
  WantedBy=multi-user.target
